<h1>Database Operations</h1><br>
<h3>Type of SQL statements</h3>
<ul>
    <li><b>DDL</b> (data definition language):<br>
    Hanles creation, deletion, constraints and permissions for tables, database and use<br><br></li>
    <li><b>DML</b> (data manipulation language):<br>
    <ul>
        <li><b>C</b>reate by using SELECT</li>
        <li><b>R</b>ead by using SELECT</li>
        <li><b>U</b>pdate by using UPDATE</li>
        <li><b>D</b>elete by using DELETE</li>
    </ul></li>
</ul>

In [2]:
import sqlite3

In [5]:
conn = sqlite3.connect('db_handling\my_db.db')

In [6]:
curs = conn.cursor()

In [7]:
curs.execute('''CREATE TABLE zoo (critter VARCHAR(20) PRIMARY KEY, count INT, damages FLOAT)''')

In [8]:
curs.execute('''INSERT INTO zoo VALUES("duck", 5, 0.0)''')

In [9]:
curs.execute('''INSERT INTO zoo VALUES("bear", 2, 100.0)''')

In [10]:
ins = 'INSERT INTO zoo(critter, count, damages) VALUES(?, ?, ?)' # inserting data using place holders
curs.execute(ins, ('weasel',1,2000.0))

In [11]:
curs.execute('''SELECT * FROM zoo''')

In [12]:
rows = curs.fetchall()

In [14]:
print(rows)

[('duck', 5, 0.0), ('bear', 2, 100.0), ('weasel', 1, 2000.0)]

In [16]:
curs.execute('''SELECT * FROM zoo ORDER BY count''') # fetch by descending order of count
curs.fetchall()

[('weasel', 1, 2000.0), ('bear', 2, 100.0), ('duck', 5, 0.0)]

In [17]:
curs.execute('''SELECT MAX(damages) FROM zoo''')
curs.fetchall()

[(2000.0,)]

In [18]:
curs.close()

In [19]:
conn.close() # closing the db connection

<hr>
<h3>Modules for other SQL flavours</h3>

<ul>
    <li><b>MySQL</b><br>https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html<br><br></li>
    <li><b>PostgreSQL</b><br>http://initd.org/psycopg/docs/usage.html#passing-parameters-to-sql-queries</li>
</ul>

<hr>
<h3>SQLAlchemy</h3><br>
is the most popular cross-database Python library<br><br>
Installation Documents<br>
http://docs.sqlalchemy.org/en/latest/intro.html#installation/

In [21]:
import sqlalchemy as sa

In [22]:
conn = sa.create_engine('sqlite://')

In [23]:
conn.execute('''CREATE TABLE zoo (critter VARCHAR(20) PRIMARY KEY, count INT, damages FLOAT)''')

In [25]:
ins = 'INSERT INTO zoo(critter, count, damages) VALUES(?, ?, ?)' # inserting data using place holders
conn.execute(ins, ('weasel',1,2000.0))

In [26]:
conn.execute(ins, ("duck", 5, 0.0))

In [27]:
conn.execute(ins, ("bear", 2, 100.0))

In [29]:
rows = conn.execute('''SELECT * FROM zoo''')

In [30]:
print(rows)

<sqlalchemy.engine.result.ResultProxy object at 0x0000000005CDD860>

In [31]:
for row in rows:
    print(row)

('weasel', 1, 2000.0)
('duck', 5, 0.0)
('bear', 2, 100.0)

<b>Using SQL Expression Language</b>

In [32]:
import sqlalchemy as sa

In [33]:
conn = sa.create_engine('sqlite://')

In [34]:
meta = sa.MetaData()
zoo = sa.Table('zoo',meta,
              sa.Column('critter',sa.String, primary_key=True),
                sa.Column('count',sa.Integer),
               sa.Column('damages',sa.Float)
              )
meta.create_all(conn)

In [35]:
ins = 'INSERT INTO zoo(critter, count, damages) VALUES(?, ?, ?)' # inserting data using place holders
conn.execute(ins, ('weasel',1,2000.0))

In [36]:
conn.execute(ins, ("duck", 5, 0.0))

In [37]:
conn.execute(ins, ("bear", 2, 100.0))

In [38]:
result = conn.execute(zoo.select())

In [39]:
rows = result.fetchall()
print(rows)

[('weasel', 1, 2000.0), ('duck', 5, 0.0), ('bear', 2, 100.0)]

<hr>
<center><h3>NoSQL</h3></center>
<table>
    <tr>
        <th>Flavour</th>
        <th>Python API</th>
    </tr>
    <tr>
        <td>Cassanda</td>
        <td>pycassa</td>
    </tr>
     <tr>
        <td>CouchDB</td>
        <td>couchdb-python</td>
    </tr>
     <tr>
        <td>HBase</td>
        <td>happybase</td>
    </tr>
     <tr>
        <td>Kyoto Cabinet</td>
        <td>kyotocabinet</td>
    </tr>
     <tr>
        <td>MongoDB</td>
        <td>mongodb</td>
    </tr>
     <tr>
        <td>Riak</td>
        <td>riak-python-client</td>
    </tr>
</table><br><br>

<hr>
<center><h3>Full-Text Databases</h3></center>
<table>
    <tr>
        <th>Lucene</th>
        <th>pylucene</th>
    </tr>
    <tr>
        <td>Solr</td>
        <td>SolPython</td>
    </tr>
     <tr>
        <td>ElasticSearch</td>
        <td>pyes</td>
    </tr>
     <tr>
        <td>Sphinx</td>
        <td>sphinxapi</td>
    </tr>
     <tr>
        <td>Xapian</td>
        <td>xappy</td>
    </tr>
     <tr>
        <td>Whoosh</td>
        <td>(written in Python, includes an API)</td>
    </tr>
</table>

<br><br>
<center><h2>End of Book</h2></center>