<h1>Book 10. Data processing - Database Handling</h1><hr>

Most of the data on numerous websites and applications are managed on database. Database are storage framework which can store structured data and unstructured data.

<b>Structured data</b>: Data is stored and handled on tables<br>
<b>Un-Structured data</b>: Data is stored and handled on typically text-heavy format files

Initially only structured data format was used to handle data. But it failed to handle huge amount generic data. Hence as a way to handle it, unstructured data format was engineered.

Lets start with <b>Structured data format</b>. A very specfic language <b>SQL</b>(Structured Query Language) is used to handle tables.

Type of SQL statements
<ul>
    <li><b>DDL</b> (data definition language):<br>
    Hanles creation, deletion, constraints and permissions for tables, database and others<br><br></li>
    <li><b>DML</b> (data manipulation language):<br>
    <ul>
        <li><b>C</b>reate entries by INSERT</li>
        <li><b>R</b>ead entries  by using SELECT</li>
        <li><b>U</b>pdate entries  by using UPDATE</li>
        <li><b>D</b>elete entries  by using DELETE</li>
    </ul></li>
</ul>

<span style='color:green'>Lets start exploring Structured Database operations using Python :)</span>

We will be using <b>SQLite</b> Database Management System package in our next steps. Download and install <b>DB Browser for SQLite</b> if you wish to follow the steps.

<b>DB Browser for SQLite</b> download link: https://sqlitebrowser.org/

After installing and running it you should get a starter window like below

<img src="https://image.ibb.co/ee1as9/db_browser1.png" alt="db browser1" width="900" border="0" />

Click on <b>New Database</b> to create a new database

<img src="https://image.ibb.co/eeR8C9/db_browser2.png" alt="db_browser2" border="0">

It will prompt to choose a location to save your database. 

Like before, We will be creating a folder where books are present(refer below image). I am naming mine <b>database_handling</b> you are free to name yours by your choice. But please do use underscore(&#95;) in place of space, to reduce execution errors.

<img src="https://image.ibb.co/jM075U/file_directory_db.png" alt="file_directory_db" border="0">

<span style='color:red'>Note: If you are using the same folder. Clear the folder before using it.</span>

Lets name the database <b>my_db</b>

Once the database is created it will prompt a window. Since we will be handling the database from python. Do not do anything and close all the windows.

In [1]:
import sqlite3

We need to import <b>sqlite3</b> package to work SQLite

In [2]:
connection = sqlite3.connect('database_handling\my_db.db')

Connection objects create a connection with the database and these are further used for different transactions. These connection objects are also used as representatives of the database session.

By using <b>sqlite3.connect(</b>target database<b>)</b> we can connect to a existing database

We can use a connection object for calling methods like commit(), rollback() and close() as shown below:

In [3]:
cur = connection.cursor()    #creates new cursor object for executing SQL statements
connection.commit()    #Commits the transactions
connection.rollback()  #Roll back the transactions
#connection.close()    #closes the connection

In [4]:
database_cursor = connection.cursor()

connection.close()    #closes the connection

<span style='color:red'>Once if we close the connection we can't perform further operations, it throws a programmingError</span>

<b>connection.cursor()</b> sets a cursor object which can used to run SQL

Cursor is one of the powerful features of SQL. These are objects that are responsible for submitting various SQL statements to a database server. There are several cursor classes in MySQLdb.cursors:

* <b>BaseCursor</b> is the base class for Cursor objects.
* <b>Cursor</b> is the default cursor class. <b>CursorWarningMixIn</b>, <b>CursorStoreResultMixIn</b>,              <b>CursorTupleRowsMixIn</b>, and <b>BaseCursor</b> are some   components of the cursor class.
* <b>CursorStoreResultMixIn</b> uses the <b>mysql_store_result()</b> function to retrieve result sets from the executed query.      These result sets are stored at the client side.
* <b>CursorUseResultMixIn</b> uses the <b>mysql_use_result()</b> function to retrieve result sets from the executed query. These     result sets     are stored at the server side.

In [5]:
database_cursor.execute('''CREATE TABLE PhoneBook (Id INT PRIMARY KEY, Name VARCHAR(20), PhoneNumber VARCHAR(20))''')

OperationalError: table PhoneBook already exists

Query can be executed by using <b>cursor.execute(</b>"'query"'<b>)</b>

<b>CREATE TABLE</b> table_name<b>(</b>attribute_name type, attribute_name type,... <b>)</b> is used to create a new table in the database.

SQL is not case sensitive

In [6]:
database_cursor.execute('''INSERT  INTO PhoneBook VALUES (1,"Tony",9876543210)''')

<b>INSERT  INTO</b> table_name <b>VALUES (</b>Values<b>)</b> is used to insert an entry into the table. The values passed should match the columns of the table.

In [7]:
database_cursor.execute('''INSERT  INTO PhoneBook VALUES (2,"Max",9876543333)''')

In [8]:
ins = 'INSERT INTO PhoneBook(Id, Name, PhoneNumber) VALUES(?, ?, ?)' # inserting data using place holders
database_cursor.execute(ins, (3,'Sal',999876543))

In [9]:
database_cursor.execute('''SELECT * FROM PhoneBook''')

<b>SELECT * FROM</b> table_name

gets all the existing entries from entry

In [10]:
rows = database_cursor.fetchall()

<b>database_cursor.fetchall()</b> fetchs all the entries and stores in var <b>rows</b>

Now lets print it

In [11]:
print(rows)

[(1, 'Tony', '9876543210'), (2, 'Max', '9876543333'), (3, 'Sal', '999876543')]

In [12]:
database_cursor.execute('''SELECT * FROM PhoneBook ORDER BY Name''') # fetch by descending order of count
database_cursor.fetchall()

[(2, 'Max', '9876543333'), (3, 'Sal', '999876543'), (1, 'Tony', '9876543210')]

<b>ORDER BY</b> sorts the entries in ascending order. In the above its sorted in alphabet ascending order of Name.

In [13]:
database_cursor.close()

Use <b>.close()</b> to close the cursor created for database

Once the cursor is closed. Lets close the database connection.

In [14]:
connection.close() # closing the db connection

<hr>
<b>Other SQL flavours and its modules</b>

<ul>
    <li><b>MySQL</b><br>https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html<br><br></li>
    <li><b>PostgreSQL</b><br>http://initd.org/psycopg/docs/usage.html#passing-parameters-to-sql-queries</li>
</ul>

<hr>
<b>Other Database Format</b>

<center><h3>NoSQL</h3></center>
<table>
    <tr>
        <th>Flavour</th>
        <th>Python API</th>
    </tr>
    <tr>
        <td>Cassanda</td>
        <td>pycassa</td>
    </tr>
     <tr>
        <td>CouchDB</td>
        <td>couchdb-python</td>
    </tr>
     <tr>
        <td>HBase</td>
        <td>happybase</td>
    </tr>
     <tr>
        <td>Kyoto Cabinet</td>
        <td>kyotocabinet</td>
    </tr>
     <tr>
        <td>MongoDB</td>
        <td>mongodb</td>
    </tr>
     <tr>
        <td>Riak</td>
        <td>riak-python-client</td>
    </tr>
</table><br><br>

<hr>
<center><h3>Full-Text Databases</h3></center>
<table>
    <tr>
        <th>Lucene</th>
        <th>pylucene</th>
    </tr>
    <tr>
        <td>Solr</td>
        <td>SolPython</td>
    </tr>
     <tr>
        <td>ElasticSearch</td>
        <td>pyes</td>
    </tr>
     <tr>
        <td>Sphinx</td>
        <td>sphinxapi</td>
    </tr>
     <tr>
        <td>Xapian</td>
        <td>xappy</td>
    </tr>
     <tr>
        <td>Whoosh</td>
        <td>(written in Python, includes an API)</td>
    </tr>
</table>

<br><br>
<center><h2>End of Book</h2></center>

<hr>
<h3><b>Next book :</b> Book 0.1. Zen of Python</h3>

https://github.com/atcodedog 

<b><a href='index.html'>Back Home</a></b>
<hr>

Source from atcodedog git repo

Find more on

https://github.com/atcodedog

http://www.atcodedog.com

Follow us on

https://twitter.com/atcodedog