<h1>Book 3. Strings</h1><hr>

String in python are surrounded by either single quotation marks, or double quotation marks.
'hello' is the same as "hello".

In [1]:
'Hello python'

'Hello python'

In [2]:
"I'm pythonista"

"I'm pythonista"

In [3]:
"'Nay',said the naysayer"

"'Nay',said the naysayer"

In [4]:
  'I read the article, "A Poor Woman’s Journey."'

'I read the article, "A Poor Woman’s Journey."'

Single quotes can be used with in double quotes

Double quotes can be used with in single quotes

In [5]:
poem = """That time of year thou mayst in me behold
... When yellow leaves, or none, or few, do hang 
... Upon those boughs which shake against the cold,
... Bare ruin’d choirs, where late the sweet birds sang.
... In me thou seest the twilight of such day
... As after sunset fadetn in the west,
... Which by and by black night doth take away,
... Death ‘s second self, that seals up all in rest.
... In me thou seeest the glowing of such fire,
... That on the ashes of his youth doth  lie,
... As the death-bed whereon it must expire,
... Consum’d with that which it was nourish’d by.
... This thou perceiv’st which makes thy love more strong,
... To love that well which thou must leave ere long"""


print(poem)

That time of year thou mayst in me behold
When yellow leaves, or none, or few, do hang
Upon those boughs which shake against the cold,
Bare ruin’d choirs, where late the sweet birds sang.
In me thou seest the twilight of such day
As after sunset fadetn in the west,
Which by and by black night doth take away,
Death ‘s second self, that seals up all in rest.
In me thou seeest the glowing of such fire,
That on the ashes of his youth doth  lie,
As the death-bed whereon it must expire,
Consum’d with that which it was nourish’d by.
This thou perceiv’st which makes thy love more strong,
To love that well which thou must leave ere long

''' ''' and """ """ 3 single quotes or double quotes can be used create multiline string

The above lines are taken from William Shakespeare's Sonnet 73: That time of year thou mayst in me behold

Explore more : https://www.poetryfoundation.org/poems/45099/sonnet-73-that-time-of-year-thou-mayst-in-me-behold

In [6]:
poem2 = 'Once a dream did weave a shade
... O'er my angel-guarded bed,
... That an emmet lost its way
... Where on grass methought I lay'
print(poem2)

SyntaxError: EOL while scanning string literal (<ipython-input-6-4e528ad9fb7d>, line 1)

It throws EOL(End Of Line) error when used with just single quotes or double quotes

In [7]:
poem3 = 'There was a young lady of Norway, \
... Who casually sat in a doorway; \
... When the door squeezed her flat,  \
... She exclaimed, "What of that?" \
... This courageous Young Lady of Norway'
poem3

'There was a young lady of Norway, Who casually sat in a doorway; When the door squeezed her flat,  She exclaimed, "What of that?" This courageous Young Lady of Norway'

<span><b>&#92;</b></span>(backslash)  is a special character, which puts multiple lines in a single line .

In [8]:
print(3, 'musketeers')

3 musketeers

<b>print( )</b> functions lets you print numbers(Integer and Floating) and strings together by using <span><b>,</b></span>(comma) in between. Each element with single space in between.

In [9]:
str(98.6)

'98.6'

<b>str()</b> is the string conversion function

In [10]:
str(1.0e4)

'10000.0'

In [11]:
str(True)

'True'

In [12]:
print('\tabc') 
print('a\tbc')
print('ab\tc')
print('abc\t')
print('ab\nc')

	abc
a	bc
ab	c
abc
ab
c

Escape sequence: \t - tab, \n - new line

\t lets you insert a Tab in between 

\n lets you insert a New Line in between

In [13]:
testimony = "\"I did nothing !\" he said. \"Not that either! or the other thing.\"" 
print(testimony)

"I did nothing !" he said. "Not that either! or the other thing."

escape sequence is used with single quote, double quote and other keyword to escape its function

using \" will not let " to end the string. Hence nullifying the function of ".

In [14]:
speech = 'Today we honor our friend, the backslash: \\.'
print(speech)

Today we honor our friend, the backslash: \.

Nullifying ' with \'

In [15]:
a='parrot' # + acts a operation for string concatenation but doesnt add space in between and hence sould be added manually
b=a
c='Green Parrot.'
a+b+c

'parrotparrotGreen Parrot.'

Strings can be added/concatenated by using <b>+</b> operator

In [16]:
musketeers = 3
base = ''
base += 'number of musketeers: '
base += str(musketeers )
base

'number of musketeers: 3'

In [17]:
a+' '+b+' '+c

'parrot parrot Green Parrot.'

In [18]:
start = 'Hi ' *4 + '\n' # * operator to duplicate a string (n) times. 'string' * (n) 
middle = 'Hello ' *3 + '\n'
end = 'Goodbye.'
print(start+middle+end)

Hi Hi Hi Hi
Hello Hello Hello
Goodbye.

&#42; (star) operator when used with a string will duplicate the chunk of strings n number of times.

'Hi ' * 4 = 'Hi Hi Hi Hi '

<b>Extract Character from a string</b>

In [19]:
letters='abcdefghijklmnopqrstuvwxyz'

In [20]:
letters[0]

'a'

The elements are accessed by using offsets position. 

Offset always starts from 0.

In [21]:
letters[1] # 1 represnts first 2nd element

'b'

In [22]:
letters[-1]  # -1 represnts last element

'z'

&#45; (minus) offset starts counting from the end. Starts from -1

In [23]:
letters[-2] # -2 represnts last 2nd element

'y'

In [24]:
letters[25] # 25 represnts 26 element

'z'

In [25]:
letters[26] # 26 represnts 27th element which is not present

IndexError: string index out of range

In [ ]:
letters[0]='a' # this kind of assignemnet is not supported

In [26]:
letters.replace('a','1') # assigning / replacing characters

'1bcdefghijklmnopqrstuvwxyz'

In [27]:
my_var = '1' + letters[1:] #assigning using slicing
my_var

'1bcdefghijklmnopqrstuvwxyz'

In [28]:
letters.replace('1','a') #undoing changes

'abcdefghijklmnopqrstuvwxyz'

In [29]:
print(letters[:]) # entire string
print(letters[:-1]) # entire string except last character

abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxy

In [30]:
letters[:5] # from begining to the (n-1)th index n position

'abcde'

<b>Slicing</b>

Slicing extracts part of the string.

[:] extracts the entire sequence from start to end<br>
[start:] specifies from start offset to the end<br>
[:end] specifies from beginning to the end offset <i>minus</i> 1<br>
[start:end] indicates from the start offset to the end offset <i>minus</i> 1<br>
[start:end:step] extracts from start offset to end offeset <i>minus</i> 1, skipping characters by step<br>

In [31]:
print(letters[5:]) # from offeset 5, position (5+1)
print(letters[10:]) # from offeset 10, position (10+1)

fghijklmnopqrstuvwxyz
klmnopqrstuvwxyz

In [32]:
letters[5:10] # from offset 5 to offset (10-1), position (5+1) to position (10)

'fghij'

In [33]:
letters[-3:] # last 3 characters

'xyz'

In [34]:
letters[18:-2] # from 18th offset to before last 2nd offset

'stuvwx'

In [35]:
letters[-6:-2] # from last 6th offset to last 2nd offset

'uvwx'

In [36]:
letters[::7] # characters start to end, in step of 7 characters. Format 0th, 7th, 14th... offset

'ahov'

In [37]:
letters[4:20:3] # characters starts from 4th offset to 20-1 offset, position (4+1) to position 20 ,with step of 3. Format 4th, 7th, 10th... offset

'ehknqt'

In [38]:
letters[19::4] # characters starts from 19th offset to end, with step of 4

'tx'

In [39]:
letters[:21:5] # characters starts from beginning offset to 21-1 offset, with step of 5

'afkpu'

In [40]:
print(letters[-1::-1]) # characters in reverse direction
print(letters[::-1])

zyxwvutsrqponmlkjihgfedcba
zyxwvutsrqponmlkjihgfedcba

In [41]:
letters[-50:] # from 50 before the end to the end

'abcdefghijklmnopqrstuvwxyz'

In [42]:
letters[-51:-50] # from 51 before the end to 50 before the end

''

In [43]:
letters[:70] # from the start to 69 after the start

'abcdefghijklmnopqrstuvwxyz'

In [44]:
letters[70:72] # from 70 after the start to (70-2)

''

In [45]:
letters[70:71] # from 70 after the start to (70-1)

''

In [46]:
len(letters) # length of string 'letters'

26

In [47]:
empty= '' #empty string
len(empty)

0

In [48]:
todos = 'wake early,do exercise,drink more water,eat salads,'
todos.split(',') # split is used to split strings into a list with character specified in the bracket

['wake early', 'do exercise', 'drink more water', 'eat salads', '']

In [49]:
todos.split(' ')

['wake', 'early,do', 'exercise,drink', 'more', 'water,eat', 'salads,']

In [50]:
avengers = ['Iron Man','Captain America','Hulk','Thor','Black widow','Hawkeye']
','.join(avengers) # join elements in a list with character specified between quotes

'Iron Man,Captain America,Hulk,Thor,Black widow,Hawkeye'

The reference is from a Marvel movie series <b>Avengers</b>

Marvel : https://en.wikipedia.org/wiki/Marvel_Comics<br>
Avengers : https://en.wikipedia.org/wiki/The_Avengers_%282012_film%29

In [51]:
' '.join(avengers)

'Iron Man Captain America Hulk Thor Black widow Hawkeye'

In [52]:
print(letters) # just revisting List object of var letters

abcdefghijklmnopqrstuvwxyz

In [53]:
print(letters.startswith('a')) # returns true if the string starts with character specified
print(letters.startswith('b'))

True
False

In [54]:
print(letters.endswith('z')) # returns true if the string ends with character specified
print(letters.endswith('b'))

True
False

In [55]:
letters_palindrome = letters + letters[-1::-1]

# letters + letters reverse
print(letters_palindrome )

abcdefghijklmnopqrstuvwxyzzyxwvutsrqponmlkjihgfedcba

In [56]:
letters_palindrome.find('c') # finds first occurance, returns offset

2

In [57]:
letters_palindrome.rfind('c') # finds first occurance from last, returns offset

49

In [58]:
letters_palindrome.count('c') # counts the occurance of characters specified

2

In [59]:
letters_palindrome.isalnum() # checks whether all the character in the string is either letters or numbers

True

In [60]:
model_no='No-47'
model_no.isalnum()

False

isalnum() checks whether the string is numeric

'No-47' is no alphanumeric becuase it has -

In [61]:
setup = 'My favorite language for maintainability is Python ...'
setup.strip('.') # remove specified character in a string

'My favorite language for maintainability is Python '

In [62]:
setup.capitalize() # capitalize the first word

'My favorite language for maintainability is python ...'

In [63]:
setup.title() # capitalize all the words

'My Favorite Language For Maintainability Is Python ...'

In [64]:
setup.upper() # convert all characters to uppercase

'MY FAVORITE LANGUAGE FOR MAINTAINABILITY IS PYTHON ...'

In [65]:
setup.lower() # convert all characters to lowercase

'my favorite language for maintainability is python ...'

In [66]:
strin = "atcodedogForpythonista"
print(strin.swapcase()) # swap upper and lower case

ATCODEDOGfORPYTHONISTA

In [67]:
strin.center(30) # center justify within 30 spaces

'    atcodedogForpythonista    '

In [68]:
strin.center(50, 'H')

'HHHHHHHHHHHHHHatcodedogForpythonistaHHHHHHHHHHHHHH'

<b>center()</b> returns centered in a string of length width

In [69]:
strin.ljust(30) # left justify within 30 spaces

'atcodedogForpythonista        '

In [70]:
strin.ljust(50, '1')

'atcodedogForpythonista1111111111111111111111111111'

<b>ljust()</b> returns the string left justified in a string of length width. Padding is done using the specified fillchar (default is a space). The original string is returned if width is less than len(s).

In [71]:
strin.rjust(30) # right justify within 30 spaces

'        atcodedogForpythonista'

In [72]:
strin.rjust(50, '0')

'0000000000000000000000000000atcodedogForpythonista'

<b>rjust()</b> returns the string right justified in a string of length width. Padding is done using the specified fillchar (default is a space). The original string is returned if width is less than len(s)
 
 <b>fillchar</b>  is the filler character, default is a space.
 <b>width</b>  is the string length in total after padding.

In [73]:
print(setup)
print(setup.replace('favorite','dearest')) # retuns a string with the characters replaced with specified characters

My favorite language for maintainability is Python ...
My dearest language for maintainability is Python ...

A string is returned where 'favorite' is replaced with 'dearest'

In [74]:
anaphora="""go back to Mississippi, go back to Alabama, go back to South Carolina, 
 go back to Georgia, go back to Louisiana, go back to the slums and
 ghettos of our northern cities, knowing that somehow this situation can
 and will be changed."""
anaphora

'go back to Mississippi, go back to Alabama, go back to South Carolina, \n go back to Georgia, go back to Louisiana, go back to the slums and\n ghettos of our northern cities, knowing that somehow this situation can\n and will be changed.'

In [75]:
anaphora.count('go')

6

In [76]:
anaphora_replace = anaphora.replace('go ', 'come ') # be careful to metion spaces/ or characters with it when specfing single character 
print(anaphora_replace)

come back to Mississippi, come back to Alabama, come back to South Carolina,
 come back to Georgia, come back to Louisiana, come back to the slums and
 ghettos of our northern cities, knowing that somehow this situation can
 and will be changed.

In [77]:
anaphora_replace.count('go')

0

In [78]:
anaphora_replace.count('come')

6

count of 'go ' is zero and count of 'come ' has changed to 6 because 'go ' has been replaced by 'come '

In [79]:
anaphora_changed = anaphora_replace.replace('come','go ',5) # 5 is used to replace only 5 occurance of 'come ' with 'go '
print(anaphora_changed)

go  back to Mississippi, go  back to Alabama, go  back to South Carolina,
 go  back to Georgia, go  back to Louisiana, come back to the slums and
 ghettos of our northern cities, knowing that somehow this situation can
 and will be changed.

In [80]:
anaphora_changed.count('go')

5

In [81]:
anaphora_changed.count('come')

1

<span style='color:green'>As expected only 5 occurance of  'come ' has changed to go and one occurance of 'come ' is still left behind</span>

In [82]:
print ("{}, An upcoming platform for {}. Make sure to check it out"
                        .format("atcodedog","pythonista"))

atcodedog, An upcoming platform for pythonista. Make sure to check it out

<b>string.format()</b> is one of the string formatting methods in Python, which allows multiple substitutions and value formatting. This method lets us concatenate elements within a string through positional formatting

Formatters work by putting in one or more replacement fields and placeholders defined by a pair of curly braces {} into a string and calling the str.format(). The value we wish to put into the placeholders and concatenate with the string is passed as parameters into the format function.

As you can see in the above example, brackets in string "<b>{}</b>, A upcoming platform for <b>{}</b>. Make sure to check it out" is replaced by <b>"atcodedog"</b> and <b>"pythonista"</b>

In [83]:
print ("{1}, An upcoming platform for {0}. Make sure to check it out"
                        .format("pythonista","atcodedog"))

atcodedog, An upcoming platform for pythonista. Make sure to check it out

It can also be substituted by passing offset position of arguments passed.

In [84]:
print("I converted your int {0} to float {0:f}".format(5))

I converted your int 5 to float 5.000000

You can convert your data between numeric formats while printing by mentioning the format

<b>:d</b> converts it to type <b>int</b><br><b>:f</b> converts it to type <b>float</b>

In [85]:
print("{0} / {1} = {2:f} \nAfter rounding it to two digits after decimal {2:.2f}".format(5,3,5/3))

5 / 3 = 1.666667
After rounding it to two digits after decimal 1.67

Float can be rounded of to lesser number of digits after decimal by using <b>.nf</b>

Where n is the number of digits you want to round it off to. <b>.2f</b> rounds it off to two digits after decimal.

In [86]:
print ("I am{0:30}!!!".format(" the pythonista"))

I am the pythonista               !!!

You can add padding to a string. By specifying total space it should take(len(str)+padding). By default it always aligned to <b>left</b>.

In [87]:
print ("I am{0:>30}!!!".format(" the pythonista"))
print ("I am{0:<30}!!!".format(" the pythonista"))
print ("I am{0:^30}!!!".format(" the pythonista"))

I am                the pythonista!!!
I am the pythonista               !!!
I am        the pythonista        !!!

You can also mention the alignment by use of notations below

<b>&#62;</b> right<br>
<b>&#60;</b> left<br>
<b>&#94;</b> center<br>

In [88]:
print ("I am{0:_>30}!!!".format(" the pythonista"))
print ("I am{0:_<30}!!!".format(" the pythonista"))
print ("I am{0:_^30}!!!".format(" the pythonista"))
print ("I am{0:*>30}!!!".format(" the pythonista"))
print ("I am{0:*<30}!!!".format(" the pythonista"))
print ("I am{0:*^30}!!!".format(" the pythonista"))

I am_______________ the pythonista!!!
I am the pythonista_______________!!!
I am_______ the pythonista________!!!
I am*************** the pythonista!!!
I am the pythonista***************!!!
I am******* the pythonista********!!!

You can also fill blank spaces with character you want.

Exlpore more on Formatter in print : https://pyformat.info/

In [89]:
print('I ended myself with a newline character by default. Whatever comes next will always be in next line')
print('I ended myself with exclaimatory mark',end='!')
print('I ended myself with smile',end=':)')

I ended myself with a newline character by default. Whatever comes next will always be in next line
I ended myself with exclaimatory mark!I ended myself with smile:)

<b>print()</b> in python is by default ended with '\n' (new line character). But you can also mention what should the print statement ended with.

Next, Let's see how to work with <b>Regular Expressions</b> on strings.

What is Regular Expression ? Regular Expressions is basically setting up template to scan strings and find a specific pattern.

Check Regular Expression on wiki : https://en.wikipedia.org/wiki/Regular_expression

In [90]:
import re

Package <b>re</b> should be imported in the above format to use regular expressions.

In [91]:
did_i_find_you = re.match('You','Young Frankenstien') 
did_i_find_frank = re.match('Frank','Young Frankenstien') 
did_i_find_me = re.match('Me','Young Frankenstien') 
print(did_i_find_you)
print(did_i_find_frank)
print(did_i_find_me)

<_sre.SRE_Match object; span=(0, 3), match='You'>
None
None

If the pattern is found it will return a value. If the pattern is not found it returns none. The current pattern check whether <b>You</b>, <b>Frank</b>  and <b>Me</b>.

The above matching can also be done by passing the pattern and string (that needs to be scanned) as variables.

In [92]:
my_pattern = re.compile('You')
my_string = 'Young Frankenstein'
did_i_find_you = my_pattern.match(my_string)
print(did_i_find_you)

<_sre.SRE_Match object; span=(0, 3), match='You'>

In [93]:
did_i_find_you_at_beginning = re.match('^You','Young Frankenstien') 
print(did_i_find_you_at_beginning)
did_i_find_frank_at_beginning = re.match('^Frank','Young Frankenstien') 
print(did_i_find_frank_at_beginning)

<_sre.SRE_Match object; span=(0, 3), match='You'>
None

Adding <b>^</b> at beginning of the pattern. Will search whether the pattern appeared at the beginning or not.

In [94]:
did_i_find_ou_after_one_character_at_beginning = re.match('.ou','Young Frankenstien') 
print(did_i_find_you_at_beginning)

<_sre.SRE_Match object; span=(0, 3), match='You'>

<b>.</b>  means match any single character.<br>
<b>&#95;ou</b> (i.e fill any letter in the dash).

In [95]:
did_i_find_frank_anywhere = re.match('.*Frank','Young Frankenstien') 
print(did_i_find_frank_anywhere)

<_sre.SRE_Match object; span=(0, 11), match='Young Frank'>

Together <b>.*</b> means match any number of charcters (even zero).<br>
<b>Frank</b> is the phrase that we wanted to match, somewhere.

In [96]:
find_only_n = re.findall('n','Young Frankenstien')
print(find_n)

NameError: name 'find_n' is not defined

<b>findall(</b>pattern, string<b>)</b>

Return all non-overlapping matches of pattern in string, as a list of strings. The string is scanned left-to-right, and matches are returned in the order found.

In [97]:
find_only_n_and_another_letter = re.findall('n.','Young Frankenstien')
print(find_only_n_and_another_letter)

['ng', 'nk', 'ns']

Adding a spot for character with use of <b>.</b>

In [98]:
find_only_n_and_another_letter = re.findall('n.?','Young Frankenstien')
print(find_only_n_and_another_letter)

['ng', 'nk', 'ns', 'n']

Adding a spot for optional character with use of <b>.?</b>

Optional character <b>.</b> can be conditioned to a specific kind of character. Bellow are the formats

\d : a single digit<br>
\D : a single non-digit<br>
\w : an alphanumeric character<br>
\W : a non-alphanumeric character<br>
\s : a whitespace character<br>
\S : a non-whitespace character<br>
\b : a word boundary (between a \w and a  \W, in either order)<br>
\B : a non-word boundary

There is no limit for exploring stuffs, so wanna explore more about <b>(re)Regular expression operations</b> ? :https://docs.python.org/3/library/re.html

<hr>
Before we end let's cover one more important thing which is used  alot.

Lets cover how to take user's input

In [99]:
my_name = input("What's you name : ")
print('Hi ',my_name)

What's you name :
Hi

The string entered in the brackets is the sentence which is displayed when asking for input

<span style='color:red'>Note : the input is always got as type <b>strings</b></span>

<span style='color:green'>Note : input needs to converted to other required type before usage</span>

In [1]:
no_1 = int(input("What's the first number ? (Int only) : "))
no_2 = int(input("What's the second number ? (Int only) : "))
sum_of = no_1 + no_2
print("the sum is ",sum_of)

What's the first number ? (Int only) : 5
What's the second number ? (Int only) : 6
the sum is  11

Similarly for other datatypes

Find more on <b>input()</b> in offical python docs : https://docs.python.org/3/library/functions.html#input

<br><br>
<center><h2>End of Book</h2></center>

<hr>
<h3><b>Next book :</b> Book 2. Lists, Tuples, Dictionaries and Sets</h3>

<b><a href='index.html'>Back Home</a></b>
<hr>

Source from atcodedog git repo

Find more on

https://github.com/atcodedog

http://www.atcodedog.com

Follow us on

https://twitter.com/atcodedog