<h1>Book 4. Lists, Tuples, Dictionaries and Sets</h1>
<hr>

<b>Lists</b>

Lists are mutable(modifiable) sequence structures of same data type/different data type.

The index operator <b>[ ]</b> represents a list object 
Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets <b>[ ]</b>. 

* An ordered collection of objects (components).

* List are analogus to array

* A list allows you to gather a variety of (possibly unrelated) objects under one name.

* You can create lists that consists of mixed data types

* You can create a list of `int, float, string, logical` and `complex` data types together in a single list.

<span style='color:green'>Lets go ahead with creating a <b>List</b> object</span>

In [1]:
integer_list = [1,2,3,4,5] # integer list
print(integer_list)

[1, 2, 3, 4, 5]

In [2]:
floating_list = [1.0,2.0,3.0] # floating list
print(floating_list)

[1.0, 2.0, 3.0]

In [3]:
boolean_list = [True,True,False] # boolean list
print(boolean_list)

[True, True, False]

In [4]:
string_list = ['apple','bannana','carrot'] # string list
print(string_list)

['apple', 'bannana', 'carrot']

<span style='color:green'>Lets go ahead and create a <b>List</b> object with collection of <b>different data type</b></span>

In [5]:
mixed_list = [1,2.0,'carrots'] # mixed list
print(mixed_list)

[1, 2.0, 'carrots']

In [6]:
print(mixed_list[0],type(mixed_list[0])) # 1st element is 1 of type Int
print(mixed_list[1],type(mixed_list[1])) # 2nd element is 2.0 of type Float
print(mixed_list[2],type(mixed_list[2])) # 3rd element is 'carrots' of type String
print(mixed_list,type(mixed_list))

1 <class 'int'>
2.0 <class 'float'>
carrots <class 'str'>
[1, 2.0, 'carrots'] <class 'list'>

<span style='color:green'>Lets wrap up everything and go ahead with creating a <b>List</b> object of <b>Lists</b></span>

In [7]:
list_of_lists = [integer_list, floating_list, string_list, mixed_list] # list of lists
print(list_of_lists )

[[1, 2, 3, 4, 5], [1.0, 2.0, 3.0], ['apple', 'bannana', 'carrot'], [1, 2.0, 'carrots']]

<span style='color:green'>Thats great!! We  were able to create <b>List object of Lists</b>. This is something exiting :)</span>

<span style='color:red'>Note: For people who have familarity with other languages which uses Sequence Structure with only same datatype. This feels like a really new thing. </span>

<span style='color:green'><b>This capability of python will wield a new kind of distinguising power in your hand.</b></span>

Lets go ahead and look into more things in List objects and capabilites allowed on them

In [8]:
empty_list = [] # creating an empty list object
another_empty_list = list() # another way of creating empty list
print('empty_list : ',empty_list)
print('another_empty_list : ',another_empty_list)

empty_list :  []
another_empty_list :  []

In [9]:
string_converted_to_list = list('I am a string') # converts string of character to list object
print('string_converted_to_list : ', string_converted_to_list)

string_converted_to_list :  ['I', ' ', 'a', 'm', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [10]:
splitme = 'a/b/c//d/e//f' 
splitme.split('/') # using split() method on string to convert string to list

['a', 'b', 'c', '', 'd', 'e', '', 'f']

Using <b>split()</b> method on string. Lets you to convert string into list. The string is divided by the character in the bracket.

In the above case string is divided into element each time it encounters '/' character.

In [11]:
list_of_fruits = ['Apple','Bannana','Cherry','Dragonfruit ','Fig','Grape','Guava','Kiwifruit'] 
print(list_of_fruits )
print("length/count : ",len(list_of_fruits ))

['Apple', 'Bannana', 'Cherry', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Kiwifruit']
length/count :  8

<b>len()</b> gives us the size of the list

Lets access the elements in them. 

Elements are accessed by passing index in them. Similar to what was used in strings.

The actions performed are similar.

In [12]:
print(list_of_fruits[1])

Bannana

The elements are accessed by using offsets position. 

Offset always starts from 0.

In [13]:
print(list_of_fruits[-1])

Kiwifruit

&#45; (minus) offset starts counting from the end. Starts from -1

In [14]:
print(list_of_fruits[9])

IndexError: list index out of range

<b>index out of range</b> error thrown when the element in the index is not present

In [15]:
list_of_fruits[0]='Watermelon' # changing 1st element of the list
print(list_of_fruits)

['Watermelon', 'Bannana', 'Cherry', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Kiwifruit']

A value in a position can be changed by accessing element by its offset and changing it value.

In [16]:
list_of_fruits[-1]='Apple' # changing last element of the list
print(list_of_fruits)

['Watermelon', 'Bannana', 'Cherry', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple']

In [17]:
list_of_fruits.append('Pine Apple')
print(list_of_fruits)

['Watermelon', 'Bannana', 'Cherry', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple']

Elements can be added to an existing list by using <b>append()</b> with List object.

<span style='color:green'>Lets create another list of fruits</span>

In [18]:
another_list_of_fruits = ['Mango','Orange']
print(list_of_fruits)
print(another_list_of_fruits )

['Watermelon', 'Bannana', 'Cherry', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple']
['Mango', 'Orange']

In [19]:
updated_list_of_fruits = list_of_fruits + another_list_of_fruits
print(updated_list_of_fruits)

['Watermelon', 'Bannana', 'Cherry', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange']

A List objects can be added/appended together by using <b>+</b> and stored in another variable.

In [20]:
more_fruits = ['Pomegranate','Strawberry']
print(more_fruits)
print(updated_list_of_fruits)

['Pomegranate', 'Strawberry']
['Watermelon', 'Bannana', 'Cherry', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange']

In [21]:
updated_with_more = updated_list_of_fruits.extend(more_fruits)
print(updated_with_more)
print(updated_list_of_fruits)

None
['Watermelon', 'Bannana', 'Cherry', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry']

List objects can be added/appended together by using <b>.extend()</b> and stored in the same variable.

In [22]:
i_am_also_a_fruit = ['Tomato']
print(updated_list_of_fruits)
print(i_am_also_a_fruit)

['Watermelon', 'Bannana', 'Cherry', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry']
['Tomato']

In [23]:
updated_list_of_fruits += i_am_also_a_fruit
print(updated_list_of_fruits)

['Watermelon', 'Bannana', 'Cherry', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato']

List objects can be added/appended together by using <b>+=</b> and stored in the same variable.

In [24]:
updated_list_of_fruits.insert(3,'Peach') # inserting with use of offset 3rd offset 4th position
print(updated_list_of_fruits)

['Watermelon', 'Bannana', 'Cherry', 'Peach', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato']

An element can be inserted in a particular position using offset address using <b>.insert(position, element)</b>

In [25]:
two_more_fruits = ['Raspberry','Star Fruit']
print(updated_list_of_fruits)
print(two_more_fruits)

['Watermelon', 'Bannana', 'Cherry', 'Peach', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato']
['Raspberry', 'Star Fruit']

In [26]:
updated_list_of_fruits.append(two_more_fruits)
print(updated_list_of_fruits)

['Watermelon', 'Bannana', 'Cherry', 'Peach', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato', ['Raspberry', 'Star Fruit']]

In [27]:
updated_list_of_fruits.extend(two_more_fruits) #concatenating updated_list_of_fruits with two_more_fruits
print(updated_list_of_fruits)

['Watermelon', 'Bannana', 'Cherry', 'Peach', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato', ['Raspberry', 'Star Fruit'], 'Raspberry', 'Star Fruit']

<span style='color:red'>Note : <b>.append()</b> cannot be used like <b>.extend()</b></span>

<b>.append()</b> adds an element to a list, and <b>.extend()</b> concatenates the first list with another list (or another iterable, not necessarily a list.)

In [28]:
del updated_list_of_fruits[0]
print(updated_list_of_fruits)

['Bannana', 'Cherry', 'Peach', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato', ['Raspberry', 'Star Fruit'], 'Raspberry', 'Star Fruit']

Certain elements can be deleted by using <b>del</b> along with <b>List element</b>

In [29]:
del updated_list_of_fruits[-1]
print(updated_list_of_fruits)

['Bannana', 'Cherry', 'Peach', 'Dragonfruit ', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato', ['Raspberry', 'Star Fruit'], 'Raspberry']

In [30]:
del updated_list_of_fruits[3]
print(updated_list_of_fruits)

['Bannana', 'Cherry', 'Peach', 'Fig', 'Grape', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato', ['Raspberry', 'Star Fruit'], 'Raspberry']

In [31]:
updated_list_of_fruits.remove('Grape')
print(updated_list_of_fruits)

['Bannana', 'Cherry', 'Peach', 'Fig', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato', ['Raspberry', 'Star Fruit'], 'Raspberry']

Elements can also be deleted by using <b>.remove()</b> by specifying element in them

In [32]:
updated_list_of_fruits.pop()
print(updated_list_of_fruits)

['Bannana', 'Cherry', 'Peach', 'Fig', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato', ['Raspberry', 'Star Fruit']]

<b>.pop()</b> can be used remove an element from the end

In [33]:
updated_list_of_fruits.pop(2) #Peach is removed
print(updated_list_of_fruits)

['Bannana', 'Cherry', 'Fig', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato', ['Raspberry', 'Star Fruit']]

<b>.pop()</b> can be used remove a specific element, by specifying its offset

In [34]:
is_apple_present ='Apple' in updated_list_of_fruits
print(is_apple_present )

True

<b>in</b> lets you to check whether an element is present in the list

In [35]:
is_grape_present ='Grape' in updated_list_of_fruits
print(is_apple_present )

True

In [36]:
count_of_apples = updated_list_of_fruits.count('Apple')
print(count_of_apples)

1

<b>.count()</b> lets you to count occurance of a specific element.

In [37]:
updated_list_of_fruits.append('Apple') # lets add one more apple
print(updated_list_of_fruits)

['Bannana', 'Cherry', 'Fig', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato', ['Raspberry', 'Star Fruit'], 'Apple']

In [38]:
count_of_apples = updated_list_of_fruits.count('Apple')
print(count_of_apples)

2

In [39]:
count_of_grape = updated_list_of_fruits.count('Grape')
print(count_of_grape)

0

In [40]:
list_of_fruits = ['Bannana', 'Cherry', 'Fig', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato']
lets_list_them_out_in_a_sentence = ', '.join(list_of_fruits)
print(lets_list_them_out_in_a_sentence)

Bannana, Cherry, Fig, Guava, Apple, Pine Apple, Mango, Orange, Pomegranate, Strawberry, Tomato

 The<b>.join()</b> method returns a string concatenated with the elements of iterable.

In [41]:
list_of_numbers=[1,2,3,4,5,6]
lets_list_them_out_in_a_sentence = ', '.join(list_of_numbers)
print(lets_list_them_out_in_a_sentence)

TypeError: sequence item 0: expected str instance, int found

 <span style='color:red'><b>Type Error:</b> The join function only supports type string</span>
 
 Above the example for type <b>int</b>. Feel free to try out for other data types too.

In [42]:
list1 = ['a','t','c','o', 'd','e','d','o','g'] #to demonstrate the use of join function to join listelements without any separator.
print("".join(list1))    #Joining with empty separator

atcodedog

In [43]:
list1 =['a','t','c','o','d','e','d','o','g']
s=('_'.join(list1)) #to demonstrate the use of join function to join listelements with a character.
print(s)

a_t_c_o_d_e_d_o_g

In the above case '_ ' was a seperator

seperator can also be defined from a variable

In [44]:
seperator = ' * '
lets_list_them_out_in_a_sentence_with_star = seperator.join(list_of_fruits)
print(lets_list_them_out_in_a_sentence_with_star)

Bannana * Cherry * Fig * Guava * Apple * Pine Apple * Mango * Orange * Pomegranate * Strawberry * Tomato

In [45]:
seperator = ' * '
list_me_back = lets_list_them_out_in_a_sentence_with_star.split(seperator)
print(list_me_back)

['Bannana', 'Cherry', 'Fig', 'Guava', 'Apple', 'Pine Apple', 'Mango', 'Orange', 'Pomegranate', 'Strawberry', 'Tomato']

Similar way <b>.split()</b> lets you to convert string to list.

This was also covered in <b>Book 1.</b> under strings

In [46]:
fresh_list = ['a','b','c','d','e','f']
fresh_list = fresh_list[-1::-1] # reverses the list, similar to string reverse
print(fresh_list)

['f', 'e', 'd', 'c', 'b', 'a']

In [47]:
sorted_list = sorted(fresh_list) 
print(sorted_list)

['a', 'b', 'c', 'd', 'e', 'f']

<b>sorted()</b> returns an object copy of sorted list but does not sort the actual list

This list is sorted alphabetically

In [48]:
sorted_fruits = sorted(list_of_fruits)
print(sorted_fruits)

['Apple', 'Bannana', 'Cherry', 'Fig', 'Guava', 'Mango', 'Orange', 'Pine Apple', 'Pomegranate', 'Strawberry', 'Tomato']

In [49]:
fresh_list.sort(reverse=True)
print(fresh_list)

['f', 'e', 'd', 'c', 'b', 'a']

<b>sort()</b> lets you to sort in reverse order. It doesnt return any value.

In [50]:
fresh_list.sort(reverse=False)
print(fresh_list)

['a', 'b', 'c', 'd', 'e', 'f']

setting it to <b>False</b> will sort it in ascending order and not reverse it

<h6> Assigning with = and copy with copy()</h6>

In [51]:
a = ['1','2','3']
print(a)

['1', '2', '3']

In [52]:
b = a
print(a)
print(b)

['1', '2', '3']
['1', '2', '3']

In [53]:
a[0]='suprise'
print(a)
print(b)

['suprise', '2', '3']
['suprise', '2', '3']

In [54]:
b[0] = 'I hate suprise'
print(a)
print(b)

['I hate suprise', '2', '3']
['I hate suprise', '2', '3']

In above case both labels are pointing to the same List object.

Hence they share the same values and are affected by each others assignments.

<span style='color:red'>Note : This concept has been covered in <b>Book 1.</b> while explaining "Python mutable variable concept" refer back more grip on the concept</span>

<span style='color:green'>Lets see how we can create a <b>Copy of List objects</b></span>

<span style='color:green'>Copy can be created by 3 ways</span>

In [55]:
a = ['1','2','3']
b = a.copy()
c = list(a)
d = a[:]

print(a)
print(b)
print(c)
print(d)

['1', '2', '3']
['1', '2', '3']
['1', '2', '3']
['1', '2', '3']

In [56]:
b[0]='this is b'
c[0]='this is c'
d[0]='this is d'

print(a)
print(b)
print(c)
print(d)

['1', '2', '3']
['this is b', '2', '3']
['this is c', '2', '3']
['this is d', '2', '3']

<span style='color:green'>As we see can copy of list <b>a</b> is made in 3 ways. And all 3 are copies and are not interlinked</span>

Since we are speaking about copies lets cover one more important advanced concept.

In [57]:
this_is_a = [1,2,3,['f','o','u','r'],5]
print(this_is_a)

[1, 2, 3, ['f', 'o', 'u', 'r'], 5]

As you can see <b>this_is_a</b> is a List object with another List object as its element.

Now lets create a copy of it.

In [58]:
copy_of_a = this_is_a .copy()
print(this_is_a)
print(copy_of_a)

[1, 2, 3, ['f', 'o', 'u', 'r'], 5]
[1, 2, 3, ['f', 'o', 'u', 'r'], 5]

Lets make some changes

In [59]:
copy_of_a[1]=10
print(this_is_a)
print(copy_of_a)

[1, 2, 3, ['f', 'o', 'u', 'r'], 5]
[1, 10, 3, ['f', 'o', 'u', 'r'], 5]

Ok, as expected

They both are not reflecting on each other.

Now lets change an element in inner List object

In [60]:
copy_of_a[3][0]='s'
print(this_is_a)
print(copy_of_a)

[1, 2, 3, ['s', 'o', 'u', 'r'], 5]
[1, 10, 3, ['s', 'o', 'u', 'r'], 5]

<span style='color:red'>Why is it mirroring in the inner List ?! :(  </span>

<span style='color:red'>Glad we faced this now when learning instead of facing it while developing</span>

So whats happening ?

<b>.copy()</b> is creating a shallow copy of the List object <b>this_is_a</b>. Now what does it mean ?

Shallow copy creates a copy of elements only in the surface level. But in case on nested list, they both still point to the same list.

So how can we make a list which doesnt even mirror the inner list. 

Here is how it can be done!

In [61]:
import copy # copy package should be imported

deepcopy_of_a = copy.deepcopy(this_is_a)
print(this_is_a)
print(copy_of_a)
print(deepcopy_of_a)

[1, 2, 3, ['s', 'o', 'u', 'r'], 5]
[1, 10, 3, ['s', 'o', 'u', 'r'], 5]
[1, 2, 3, ['s', 'o', 'u', 'r'], 5]

In [62]:
deepcopy_of_a[3][0]='f'
print(this_is_a)
print(copy_of_a)
print(deepcopy_of_a)

[1, 2, 3, ['s', 'o', 'u', 'r'], 5]
[1, 10, 3, ['s', 'o', 'u', 'r'], 5]
[1, 2, 3, ['f', 'o', 'u', 'r'], 5]

By seeing the above code, you might have guessed it by now, how it can be done?

Yes, you have guessed it right?!:). The list which doesnt mirror inner list can be created by doing a deep copy.

Deep copy creates a two distinct copy which is not inter linked.

Check here for more explaination : https://www.geeksforgeeks.org/copy-python-deep-copy-shallow-copy/

Now, you might have the below questions

Why does python have this shallow copy and deep copy ?<br>
Why two different copies ?<br>
Why not just deepcopy?<br>
I could have simulated a shallow copy by using code like below

In [63]:
inner_list = ['f','o','u','r']
this_is_b = [1,2,3,inner_list,5]
copy_of_b = this_is_b.copy()
print("before changing")
print(this_is_b)
print(copy_of_b)
copy_of_b[3][0]='s'
print("after changing")
print(this_is_b)
print(copy_of_b)

before changing
[1, 2, 3, ['f', 'o', 'u', 'r'], 5]
[1, 2, 3, ['f', 'o', 'u', 'r'], 5]
after changing
[1, 2, 3, ['s', 'o', 'u', 'r'], 5]
[1, 2, 3, ['s', 'o', 'u', 'r'], 5]

What is the significance of shallow copy?

The main reason for it, is to save up space. By not creating multiple copies.

Here is the justification for it from <b>python.org</b> docs<br>
https://docs.python.org/2/library/copy.html

<span style='color:red'><b>Desclaimer</b> : python.org is an standardised developer reference space. Without prior knowledge, it is sometimes hard to understand few concepts in it. Hence in these <b>Books</b> we always sumarize before asking you to checkout docs</span><br>

<span style='color:green'>Uff, that was bit tough. But glad thats cleared out now itself. Lets jump into next section :)</span>

<hr>

<b>Tuples</b>

Tuples are immutable(not modifiable) sequence structures of same data type/different data type.

<b>()</b> represents a tuple object otherwise we can also just 

<span style='color:green'>Lets go ahead with creating a <b>Tuple</b> object</span>

In [1]:
t = 12345, 54321, 'hello!'
print(t)

(12345, 54321, 'hello!')

In [64]:
integer_tuple = (1,2,3,4,5)# integer tuple
print(integer_tuple)

(1, 2, 3, 4, 5)

In [65]:
floating_tuple = (1.0,2.0,3.0) # floating tuple
print(floating_tuple)

(1.0, 2.0, 3.0)

In [66]:
boolean_tuple = (True,True,False) # boolean tuple
print(floating_tuple)

(1.0, 2.0, 3.0)

In [67]:
string_tuple = ('apple','bannana','carrot') # string tuple
print(string_tuple)

('apple', 'bannana', 'carrot')

<span style='color:green'>Lets go ahead and create a <b>Tuple</b> object with collection of <b>different data type</b></span>

In [68]:
mixed_tuple = (1,2.0,'carrots') #  mixed tuple
print(mixed_tuple)

(1, 2.0, 'carrots')

In [69]:
print(mixed_tuple[0],type(mixed_tuple[0])) # 1st element is 1 of type Int
print(mixed_tuple[1],type(mixed_tuple[1])) # 2nd element is 2.0 of type Float
print(mixed_tuple[2],type(mixed_tuple[2])) # 3rd element is 'carrots' of type String
print(mixed_tuple,type(mixed_tuple))

1 <class 'int'>
2.0 <class 'float'>
carrots <class 'str'>
(1, 2.0, 'carrots') <class 'tuple'>

<span style='color:green'>Lets wrap up everything and go ahead with creating a <b>Tuple</b> object of <b>Tuples</b></span>

In [70]:
tuple_of_tuples = (integer_tuple, floating_tuple, string_tuple, mixed_tuple) # tuple of tuples
print(tuple_of_tuples)

((1, 2, 3, 4, 5), (1.0, 2.0, 3.0), ('apple', 'bannana', 'carrot'), (1, 2.0, 'carrots'))

<span style='color:green'>Lets go ahead and <b>"Mix &#38; Match"</b> List and Tuple objects</span>

In [71]:
tuple_of_lists = (integer_list, floating_list, string_list, mixed_list) # tuple of lists
print(tuple_of_lists)

([1, 2, 3, 4, 5], [1.0, 2.0, 3.0], ['apple', 'bannana', 'carrot'], [1, 2.0, 'carrots'])

In [72]:
i_am_a_tuple = ('get','set','go') 
print('type : ',type(i_am_a_tuple))
print('value : ',i_am_a_tuple)

type :  <class 'tuple'>
value :  ('get', 'set', 'go')

In [73]:
tuple_converted_to_list = list(i_am_a_tuple) 
print('type : ',type(tuple_converted_to_list))
print('value : ',tuple_converted_to_list)

type :  <class 'list'>
value :  ['get', 'set', 'go']

Passing Tuple in <b>list()</b> lets you to convert it into a list

In [74]:
i_am_a_list = ['hey','hi','hello']
print('type : ',type(i_am_a_list ))
print('value : ',i_am_a_list )

type :  <class 'list'>
value :  ['hey', 'hi', 'hello']

In [75]:
list_converted_to_tuple = tuple(i_am_a_list) 
print('type : ',type(list_converted_to_tuple))
print('value : ',list_converted_to_tuple)

type :  <class 'tuple'>
value :  ('hey', 'hi', 'hello')

Passing List in <b>tuple()</b> lets you to convert it into a tuple

In [76]:
tuple_of_planets = ('Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune')
print(tuple_of_planets)
print("length/count : ",len(tuple_of_planets))

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
length/count :  8

<b>len()</b> works in the similar to list and strings. It returns the size of the tuple.

In [77]:
print(tuple_of_planets [1])

Venus

The elements are accessed by using offsets position. 

Offset always starts from 0.

In [78]:
print(tuple_of_planets [-1])

Neptune

-1 returns the last element

In [79]:
print(tuple_of_planets [9])

IndexError: tuple index out of range

<b>index out of range</b> error thrown when the element in the index is not present

In [80]:
tuple_of_planets[0]='Pluto' # changing 1st element of the tuple
print(tuple_of_planets)

TypeError: 'tuple' object does not support item assignment

<span style='color:red'>The error is thrown because <b>Tuple</b> is an immutable datatype and it doesnt allow modification and assignment.</span>

<span style='color:green'>If you want to change element in a tuple. It must be changed to list to change the value. Later again change to tuple.</span>

In [81]:
list_of_planets = list(tuple_of_planets)
list_of_planets[0]='Pluto' 
tuple_of_planets = tuple(list_of_planets)
print(tuple_of_planets)

('Pluto', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')

We can see that 1st element(offset 0) has its value changed from 'Mercury' to 'Pluto'

This is the only possible way of modifying tuple.

Hey, folks!

I would recommend you folks to know about main differences between <b>Lists</b> & <b>Tuples</b>!

Cool! Here you go!:http://wiki.schoolcoders.com/coding-in-python/python-for-teachers/list-vs-tuples/

Just to add one more stuff, Let's see what is <b>Tuple unpacking</b> or <b>Multiple assignment</b> ?

"Tuple unpacking requires that the list of variables on the left has the same number of elements as the length of the tuple."

In [82]:
(a,b,c,d)=(1,2,3,4)
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [83]:
(a,b,c,d)=(1,2) #throws an error
print(a)
print(b)
print(c)
print(d)

ValueError: not enough values to unpack (expected 4, got 2)

Multiple assignment is often called “tuple unpacking” because it’s frequently used with tuples. But we can use multiple assignment with any iterable, not just tuples


go ahead and explore more about tuple unpacking here:http://treyhunner.com/2018/03/tuple-unpacking-improves-python-code-readability/

<br><br>
<center><h2>End of Book</h2></center>

<hr>
<h3><b>Next book :</b> Book 2. Lists, Tuples, Dictionaries and Sets</h3>

<b><a href='index.html'>Back Home</a></b>
<hr>

Source from atcodedog git repo

Find more on

https://github.com/atcodedog

http://www.atcodedog.com

Follow us on

https://twitter.com/atcodedog